In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/airline-safety/airline-safety.csv"
airline_safety = pd.read_csv(url)

In [ ]:
airline_safety.head(5)
airline_safety.tail(5)
airline_safety.shape
airline_safety.describe()
airline_safety.info()

#Select companies and incidents_85_99 with incidents_85_99 is less than 10
airline_safety[(airline_safety["incidents_85_99"] < 10)]

#Group companies by first letter(lower) and take the mean incidents_85_99 and make it a dataframe again
airline_safety.groupby(airline_safety["airline"])["incidents_85_99"].mean().to_frame()

In [ ]:
alcohol_consumption = pd.read_csv("/home/lorenzo/Scaricati/world_alcohol.csv")

In [ ]:
alcohol_consumption[~ alcohol_consumption["WHO region"].isin(["Africa", "Europe", "Eastern Mediterranean"])]

In [ ]:
alcohol_consumption[alcohol_consumption["Display Value"].between(0.5,2.5)]

In [53]:
alcohol_consumption.head()

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [54]:
cond1 = alcohol_consumption["Beverage Types"] == "Wine"
cond2 = alcohol_consumption["Display Value"] > 2
alcohol_consumption[cond1 & cond2]

    Year WHO region      Country Beverage Types  Display Value
57  1989     Europe      Croatia           Wine           5.10
81  1985     Europe  Netherlands           Wine           2.54
96  1985     Europe   Luxembourg           Wine           7.38

In [59]:
alcohol_consumption.loc[0:9, alcohol_consumption.columns[1:4]]

        WHO region                Country Beverage Types
0  Western Pacific               Viet Nam           Wine
1         Americas                Uruguay          Other
2           Africa           Cte d'Ivoire           Wine
3         Americas               Colombia           Beer
4         Americas  Saint Kitts and Nevis           Beer
5         Americas              Guatemala          Other
6           Africa              Mauritius           Wine
7           Africa                 Angola        Spirits
8         Americas    Antigua and Barbuda        Spirits
9           Africa                Nigeria          Other